<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./partials/head.ejs') %>
  <body>
    <section class='main'>
      <%- include('./dashboard/header.ejs') %>

      <section class='search'>
        <form id='search' class="flex-container flex-xy-center flex-spread" action="aid/search" method="get">
          <input type="text" name="query" placeholder='How can we help?' value="">
          <button form='search' type="submit" name="submit">
            <img src="img/icons/search-icon.png" alt="Search">
          </button>
        </form>
      </section>
      <section class="suggested-aid-container">
        <div class="aid-header">
          <h2>Available Aid</h2>
          <span class='see-all'>
            <a class=href="#">See All</a>
          </span>
        </div>
        <div class="aid-filters">
          <form class="aid-filter-form" action="/filterSuggestions" method="get">
            <ul class='aid-filter-list flex-container flex-wrap'>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='relevant'>Relevant</button>
              </li>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='nearby'>Nearby</button>
              </li>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='deliverable'>Delivarable</button>
              </li>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='garden'>Garden</button>
              </li>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='prepacked'>Prepacked</button>
              </li>
            </ul>
          </form>
        </div>

        <div class="suggested-aid">
          <ul class="suggested-aid-list flex-container">
            <% for(let i = 0 ; i < foodAid.length ;i++) { %>
            <li>
              <div class="food-card card flex-container flex-column flex-spread">
                <div class="category-icon <%= foodAid[i].foodType %>">
                  <img class='category-image  icon' src="img/icons/<%= foodAid[i].foodType %>-icon.png" alt="<%= foodAid[i].foodType %>">
                </div>
                <div class="card-top">
                  <h3 class='food-title'><%= foodAid[i].title %></h3>
                  <input type="hidden" name="aid-id" value="<%= foodAid[i]._id %>">
                  <span class='food-expiration'>Exp: <span class='expiration-date'><%= foodAid[i].expiration %></span></span>
                  <div class="food-source">
                    <img class='icon' src="img/icons/<%= foodAid[i].source %>-icon.png" alt="<%= foodAid[i].source %>">
                  </div>
                </div>
                <div class="card-bottom">

                  <div class="share-options">
                    <% if(foodAid[i].canWalk) { %>
                      <button class='req-aid' type="button" name="req-walk">
                        <img class='walk-icon icon' src="img/icons/carry-icon.png" alt="Walkable">
                      </button>

                    <% } %>

                    <% if(foodAid[i].canDeliver) { %>
                      <button class='req-aid' type="button" name="req-deliver">
                        <img class='delivery-icon icon' src="img/icons/delivery-icon.png" alt="Delivery Needed">
                      </button>

                    <% } %>
                  </div>
                  <span class='source'>From: <span class='source-name'><%= foodAid[i].authorName %></span></span>
                </div>
              </div>
            </li>
            <% } %>


          </ul>
        </div>
      </section>

      <section class='in-progress'>
        <div class="in-progress header">
          <h3>In Progress: </h3>
          <span class='progress-count'><%= actions.length %></span>
          <span class='see-all'>
            <a href="#">See All</a>
          </span>
        </div>
        <ul class="next-actions flex-container flex-column">
          <% for(let i=0 ; i < actions.length ; i++) { %>
            <li>
              <div class="card action-card flex-container">
                <div class="action-card-icon flex-container flex-xy-center">
                  <img src="img/card/chat.png" alt="message <%=actions[i].authorName%>">
                </div>
                <div class="flex-container flex-column action-card-details">
                  <div class="action-details-main">
                    <h4><%= actions[i].title %></h4>
                    <input type="hidden" name="aid-id" value="<%= actions[i]._id%>">
                    <p><%= actions[i].status %> || <%= actions[i].authorName %></p>
                  </div>
                  <div class="expiration-container">
                    <span class='expiration'>Expires: <%= actions[i].expiration %></span>
                  </div>
                </div>
                <div class="action-buttons flex-container">
                  <button class='complete-exchange-button' type="button" name="button">
                    <img class='configure-icon' src="img/card/checked.png" alt="Complete Button">
                  </button>
                  <button class='exchange-details-button' type="button" name="button">
                    <img class='configure-icon' src="img/card/sliders.png" alt="Focus Button">
                  </button>
                </div>
              </div>
            </li>

          <% } %>
        </ul>
      </section>


      <%- include('./dashboard/footer.ejs') %>
    </section>

    <%- include('./dashboard/aside.ejs') %>
    <script type="text/javascript" src='js/main.js' ></script>
  </body>
</html>
